<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albumy</title>
</head>
<style>
    .navigation{
        margin-right: 20px;
        margin-bottom: 15px;
        font-size: 25px;
    }
    </style>
<body>
    <h1>Albums</h1>
    <a href="posts" class="navigation">posty</a>
    <a href="photos" class="navigation">zdjecia</a>
    <a href="albums" class="navigation"> albumy</a>
    <div id="albums-container">
        {% for album in albums %}
            <div class="album">
                <h2>{{ album.title }}</h2>
                <img src="{{ album.first_photo_url }}" alt="{{ album.title }}" style="width: 300px;">
                <p><a href="/albums/{{ album.id }}">Zobacz album</a></p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
