<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Photos</title>
</head>
<style>
    .navigation{
        margin-right: 20px;
        margin-bottom: 15px;
        font-size: 25px;
    }
    </style>
<body>
    <a href="posts" class="navigation">posty</a>
            <a href="photos" class="navigation">zdjecia</a>
            <a href="albums" class="navigation"> albumy</a>
    <h1>Album: {{ album_title }}</h1>
    <div id="album-photos-container">
        {% for photo in photos %}
            <div class="photo">
                <h2>{{ photo.title }}</h2>
                <img src="{{ photo.url }}" alt="{{ photo.title }}" style="width: 300px;">
            </div>
        {% endfor %}
    </div>
</body>
</html>
