<head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    <meta name="author" content="Portfolio">
    <meta name="keywords" content="portfolio">
    <meta name="description" content="null">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
</head>
<style>
.navigation{
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 25px;
}
</style>
<body>

        <div class="navigations">
            <H1>Przejdz do wybranej strony</H1>
            <a href="posts" class="navigation">posty</a>
            <a href="photos" class="navigation">zdjecia</a>
            <a href="albums" class="navigation"> albumy</a>
</div>
</body>