<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photos</title>
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Photos</h1>
    <a href="posts" class="navigation">posty</a>
    <a href="photos" class="navigation">zdjecia</a>
    <a href="albums" class="navigation"> albumy</a>
    <div id="photos-container">
        {% for photo in photos %}
            <div class="photo">
                <h2>{{ photo.title }}</h2>
                <img src="{{ photo.url }}" alt="{{ photo.title }}" style="width: 300px;">
                <p>Album: <a href="/albums/{{ photo.album_id }}">{{ photo.album_title }}</a></p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
