<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="nav">
            <div class="name">
                <h1>POSTY</h1>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li><a href="{{ url_for('aggregate_data') }}">POSTY</a></li>
                    <li><a href="{{ url_for('albums') }}">ALBUMY</a></li>
                    <li><a href="{{ url_for('photos') }}">ZDJĘCIA</a></li>
                </ul>
            </div>
        </div>

        <div class="limit">
            <form class="posts-form" method="GET" action="{{ url_for('aggregate_data') }}">
                <label for="limit">Limit wyświetlanych postów: </label>
                <input type="number" id="limit" name="limit" min="1" max="100" value="{{ request.args.get('limit', '') }}" required>
                <label for="min_length">Minimalna liczba znaków:</label>
                <input type="number" id="min_length" name="min_length" min="0" value="{{ request.args.get('min_length', '') }}" required>
                <label for="max_length">Maksymalna liczba znaków:</label>
                <input type="number" id="max_length" name="max_length" min="0" value="{{ request.args.get('max_length', '') }}" required>
                <button>Zastosuj</button>
            </form>
        </div>

        <div class="content">
            {% for post in posts %}
                <div class="post">
                    <h2>Post - {{ post.username }} - {{ post.name }}</h2>
                    <p>{{ post.post_body }}</p>
                    <h3>Komentarze:</h3>
                    <ul>
                        {% for comment in post.comments %}
                            <li>
                                <strong>{{ comment.name }}</strong> ({{ comment.email }}): <br>{{ comment.body }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>